@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #e6ccff;
  --color-secondary: #b3b3ff;
  --color-accent: #ff99cc;
  --color-background: #1e1e1e;
}

::-webkit-scrollbar {
  display: none;
}

/* Custom professional scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #a456f7 #f3f4f6;
}

.dark .scrollbar-thin {
  scrollbar-color: #80609f #24224f;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  background: #f3f4f6;
  border-radius: 8px;
}

.dark .scrollbar-thin::-webkit-scrollbar {
  background: #24224f;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #a456f7;
  border-radius: 8px;
}

.dark .scrollbar-thin::-webkit-scrollbar-thumb {
  background: #80609f;
}
